<h1><strong><span style="color: #008000;">Start my vacation note</span></strong></h1>
<%= image_tag("powerbutton.png", :alt => "rss feed") %>


<%= link_to("Go to Back", {:action => 'organize'})%> </br>
