<h1>Vacnote#share</h1>
<p>Find me in app/views/vacnote/share.html.erb</p>


<%= link_to("Go to Back", {:action => 'organize'})%> </br>

Param 1: <%= @id %> </br>
Param 2: <%= params[:page] %> </br>

Param 3: <%= @page.to_i + 1 %> </br>
