<%= javascript_pack_tag 'hello_react' %>
<table style="height: 290px;" width="462">
<tbody>
<tr>
<td style="background-color: #99ccff;">
<p id="firstHeading" class="firstHeading" lang="en"><strong>Quattro Canti<br /></strong>also known as <span style="color: #000000;">Piazza</span> Vigliena, is a Baroque square in&nbsp;<a title="Palermo" href="https://en.wikipedia.org/wiki/Palermo">Palermo</a>,&nbsp;<a title="Sicily" href="https://en.wikipedia.org/wiki/Sicily">Sicily</a>,&nbsp;<a title="Southern Italy" href="https://en.wikipedia.org/wiki/Southern_Italy">Southern Italy</a>.<br /><br /><strong><span style="color: #993300;">Bright early morning on 2017-08-06 at 8:15am, 63 degrees outside</span><br /></strong></p>
</td>
</tr>
<tr>
<td style="background-color: #ffcc99;">
<p><strong>Piazza Pretoria<br /></strong>also known as&nbsp;<em><span style="color: #000000;">square</span> of <span style="color: #000000; background-color: #ffffff;">Shame</span></em>, is at the limits of the district of&nbsp;<a title="Kalsa" href="https://en.wikipedia.org/wiki/Kalsa">Kalsa</a>, near the corner of&nbsp;<a title="Cassaro" href="https://en.wikipedia.org/wiki/Cassaro">Cassaro</a>&nbsp;with Via Maqueda, just a few meters from the&nbsp;<a title="Quattro Canti" href="https://en.wikipedia.org/wiki/Quattro_Canti">Quattro Canti</a>, the exact center of the&nbsp;<a class="new" title="Historic Centre of Palermo (page does not exist)" href="https://en.wikipedia.org/w/index.php?title=Historic_Centre_of_Palermo&amp;action=edit&amp;redlink=1">historic city</a>&nbsp;of&nbsp;<a title="Palermo" href="https://en.wikipedia.org/wiki/Palermo">Palermo</a>&nbsp;.</p>
<p><span style="color: #008000;"><strong>Your next stop on&nbsp;2017-08-06 at 3:15pm, 71&nbsp;degrees outside</strong></span></p>
</td>
</tr>
<tr>
<td style="background-color: #ccffcc;">
<p><strong>Orto Botanico di Palermo</strong>&nbsp;(<em>Palermo Botanical Garden</em>) <br />is both a&nbsp;<a title="Botanical garden" href="https://en.wikipedia.org/wiki/Botanical_garden">botanical garden</a>&nbsp;and a <span style="background-color: #ccffcc; color: #000000;">research</span> and educational institution of the Department of Botany of the&nbsp;<a title="University of Palermo" href="https://en.wikipedia.org/wiki/University_of_Palermo">University of Palermo</a>. The garden lies within the city of&nbsp;<a title="Palermo" href="https://en.wikipedia.org/wiki/Palermo">Palermo</a>, at 10&nbsp;m (33 feet) above sea-level.</p>
<p><strong><span style="color: #000080;">Your next stop on&nbsp;2017-08-06 at 6:43pm, 66 degrees <span style="background-color: #ffffff;">outside</span></span></strong></p>
</td>
</tr>
</tbody>
</table>
